<!DOCTYPE HTML>
{% load static %}
<html>
  <head>
    <meta  charset="utf-8"/>
    <link rel="shortcut icon" href= "{% static 'logo.png'%}" />
    <title>
      Registration
  </title>
  <link rel="stylesheet" href="{% static 'skeleton.css' %}" >
  <link rel="stylesheet" href="{% static 'normalize.css' %}" >
</head>
<body>
<br>
<br>
<div align = 'center'>
  <img src= "{% static 'logo.png'%}" alt="Italian Trulli" height="90" width="115">
  <br>
</html>
<div align = 'center'>
  <h5>welcome to the registration</h5>
</div>
<div class = 'container' align = 'center'>
  <form  method="post" id="form1"> {% csrf_token %}

    Name  : <input type="text" id = 'fname' name="fname" placeholder="First">
            <input type="text" id = 'lname' name="lname" placeholder="Last"><br>
    Emailaddr      : <input type="text" id="email" name="email" style="margin-top:10px;"><br>
    Password    : <input type="password" id="password" name="password" style="margin-top:10px;"/><br>
    Who are you?: <select name = 'who' id = 'who' style="margin-top:10px;">
      <option value="student"> student </option>
      <option value="staff"> staff </option>
    </select><br>
    <input type="reset" value="Reset"/>
    <input type="submit" class="button button-primary" id="submit" style="margin-top:10px;"></button>
    

</form>

</div>


</select>
</body>
</html>
